.principal {
  background-color: orange;
  text-align: center;
  padding: 1rem;
}

.principal img {
  width: 10rem;
  margin: 1rem;
  padding: 0rem;
}

.principal img:hover {
  transform: scale(1.2);
}

.principal a {
  text-decoration: none;
  color: white;
}

.asesores {
  background-color: darkblue;
  padding: 1rem;
  text-align: center;
}

.asesores img {
  width: 20rem;
  margin: 1rem;
  padding: 0rem;
}

.asesores a {
  color: white;
}

.asesores img:hover {
  transform: scale(1.1);
}

.asesores a {
  text-decoration: none;
}

.nosotros {
  padding: 2rem;
  text-align: center;
}

.footer {
  background-color: lightgray;
  padding: 1rem;
}

.footer img {
  width: 5rem;
  margin: 0rem;
  padding: 0rem;
}

.footer img:hover {
  transform: scale(1.1);
}

.footer a {
  text-decoration: none;
  padding: 0.5rem;
}

.footer li {
  list-style: none;
  padding: 1rem;
}

.principal_depa {
  background-color: orange;
  text-align: center;
  padding: 1rem;
}

.principal_depa img {
  width: 10rem;
  margin: 1rem;
  padding: 0rem;
}

.footer {
  background-color: lightgray;
  padding: 1rem;
}

.footer img {
  width: 5rem;
  margin: 0rem;
  padding: 0rem;
}

.footer img:hover {
  transform: scale(1.1);
}

.footer a {
  text-decoration: none;
  padding: 0.5rem;
}

.footer li {
  list-style: none;
  padding: 1rem;
}

.principal_casas {
  background-color: orange;
  text-align: center;
  padding: 1rem;
}

.principal_casas img {
  width: 10rem;
  margin: 1rem;
  padding: 0rem;
}

.footer {
  background-color: lightgray;
  padding: 1rem;
}

.footer img {
  width: 5rem;
  margin: 0rem;
  padding: 0rem;
}

.footer img:hover {
  transform: scale(1.1);
}

.footer a {
  text-decoration: none;
  padding: 0.5rem;
}

.footer li {
  list-style: none;
  padding: 1rem;
}

.principal_ofi {
  background-color: orange;
  text-align: center;
  padding: 1rem;
}

.principal_ofi img {
  width: 10rem;
  margin: 1rem;
  padding: 0rem;
}

.footer {
  background-color: lightgray;
  padding: 1rem;
}

.footer img {
  width: 5rem;
  margin: 0rem;
  padding: 0rem;
}

.footer img:hover {
  transform: scale(1.1);
}

.footer a {
  text-decoration: none;
  padding: 0.5rem;
}

.footer li {
  list-style: none;
  padding: 1rem;
}

.principal_terre {
  background-color: orange;
  text-align: center;
  padding: 1rem;
}

.principal_terre img {
  width: 10rem;
  margin: 1rem;
  padding: 0rem;
}

.footer {
  background-color: lightgray;
  padding: 1rem;
}

.footer img {
  width: 5rem;
  margin: 0rem;
  padding: 0rem;
}

.footer img:hover {
  transform: scale(1.1);
}

.footer a {
  text-decoration: none;
  padding: 0.5rem;
}

.footer li {
  list-style: none;
  padding: 1rem;
}

.us {
  background-color: darkblue;
  padding: 1rem;
  text-align: center;
}

.us img {
  width: 20rem;
  margin: 1rem;
  padding: 0rem;
}

.us {
  color: white;
}

.footer {
  background-color: lightgray;
  padding: 1rem;
}

.footer img {
  width: 5rem;
  margin: 0rem;
  padding: 0rem;
}

.footer img:hover {
  transform: scale(1.1);
}

.footer a {
  text-decoration: none;
  padding: 0.5rem;
}

.footer li {
  list-style: none;
  padding: 1rem;
}

.contacto {
  padding: 1rem;
}

.contacto h3 {
  text-align: center;
}

.footer {
  background-color: lightgray;
  padding: 1rem;
}

.footer img:hover {
  transform: scale(1.1);
}

.footer a {
  text-decoration: none;
  padding: 0.5rem;
}

.footer li {
  list-style: none;
  padding: 1rem;
}

.texto {
  text-align: justify;
}

.nosotros h3 {
  text-align: center;
  padding: 1rem;
}

.mision {
  background-color: darkblue;
  padding: 1rem;
  text-align: center;
}

.footer {
  background-color: lightgray;
  padding: 1rem;
}

.footer img {
  width: 5rem;
  margin: 0rem;
  padding: 0rem;
}

.footer a {
  text-decoration: none;
}

.footer li {
  list-style: none;
}/*# sourceMappingURL=styles.css.map */