.contacto {
    padding: 1rem;
}

.contacto h3 {
    text-align: center;
}

.footer {
    @include footer;
}

.footer img:hover {
    transform: scale(1.1);
}

.footer a {
    text-decoration: none;
    padding: .5rem;
}

.footer li {
    list-style: none;
    padding: 1rem;
}
