.principal {
    @include orange;
}

.principal img {
    @include medidas(10rem, 1rem, 0rem)   
}

.principal img:hover {
    transform: scale(1.2);
}

.principal a {
    text-decoration: none;
    color: white;
}

.asesores {
    @include blue;
}

.asesores img {
    @include medidas(20rem, 1rem, 0rem)
}

.asesores a {
    color: white;
}

.asesores img:hover {
    transform: scale(1.1);
}

.asesores a {
    text-decoration: none;
}

.nosotros {
    padding: 2rem;
    text-align: center;
}

.footer {
    @include footer;
}

.footer img {
    @include medidas(5rem, 0rem, 0rem)
}

@media (max-width: 600px) {
    .footer img {
        @include medidas(3rem,0rem,0rem)
    }
}

.footer img:hover {
    transform: scale(1.1);
}

.footer a {
    text-decoration: none;
    padding: .5rem;
}

.footer li {
    list-style: none;
    padding: 1rem;
}


