

.principal_ofi {
    @include orange;
}

.principal_ofi img {
    @include medidas(10rem, 1rem, 0rem)
}

.footer {
    @include footer;
}

.footer img {
    @include medidas(5rem, 0rem, 0rem)
}

@media (max-width: 600px) {
    .footer img {
        @include medidas(3rem,0rem,0rem)
    }
}

.footer img:hover {
    transform: scale(1.1);
}

.footer a {
    text-decoration: none;
    padding: .5rem;
}

.footer li {
    list-style: none;
    padding: 1rem;
}


